<div class="switch-button">
    <input (click)="switch()" class="switch-button-checkbox" type="checkbox">
    <label class="switch-button-label" for=""><span class="switch-button-label-span">Photo</span></label>
</div>

<div *ngIf="toggle">
    <p>yo yo yo bien ou quoi la mifa de bastia bien t'as vu aaaiiiigggghhhhhhttttttttt</p>
    <p>yo yo yo bien ou quoi la mifa de bastia bien t'as vu aaaiiiigggghhhhhhttttttttt</p>
    <p>yo yo yo bien ou quoi la mifa de bastia bien t'as vu aaaiiiigggghhhhhhttttttttt</p>
</div>
<div *ngIf="!toggle">
    <p>yo yo yo bien t'as vu aaaiiiigggghhhhhhttttttttt</p>
    <p>yo yo yo bien t'as vu aaaiiiigggghhhhhhttttttttt</p>
    <p>yo yo yo bien t'as vu aaaiiiigggghhhhhhttttttttt</p>
</div>